*.env
*.env.*
.env
.env.*

*.pem
*.key
*.crt
*.p12
*.pfx

**/secrets/**
**/secret/**
**/credentials/**
**/creds/**

**/config/local/**
**/config/*local*.yml
**/config/*local*.yaml
**/config/*local*.properties

**/application-*.properties
**/application-*.yml
**/application-*.yaml

**/*password*
**/*passwd*
**/*token*
**/*secret*

**/imgs/**
**/images/**